RewriteEngine On
RewriteBase /apps/nexusboard/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /apps/nexusboard/index.html [L]

# Prevent directory listing
Options -Indexes
